.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;


    nav{
        display: flex;
        justify-content: space-evenly;
        border: 1px solid;
        width: 500px;
        border: 1px solid;

        a{
            color: black;
            border: 1px solid;
        }
    }
}